Temp*
obj/*
localmedia/*
Library/*
Logs/*
build/*
Unused/*
Assets/Plugins/*
.vs/*
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp.csproj
UserSettings/*
Assembly-CSharp-Editor-firstpass.csproj
elevenlabs_tts_json_received.mp3
elevenlabs_tts_json_sent.json
last_error_returned.json
log.txt
text_completion_sent.json
textgen_json_received.json
tts_json_received.json
tts_json_sent.json
tts_last_error_returned.json
config.txt
GPTAvatar_Windows.zip
GPTAvatar.sln
.vsconfig
soupday.cc3_unity_tools.editor.csproj
soupday.cc3_unity_tools.runtime.csproj
